body {
  min-height: 100vh;
  background: #0d121d;
}

.h__100 {
  height: 100vh;
}

header {
  height: 10% !important;
}

main {
  height: 30% !important;
}

.flex__container {
  padding: 4rem;
  height: calc(25% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.spline {
  width: 300px;
  height: 300px;
}

canvas {
  width: 30%;
}
